<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': appareilStatus === 'allumé',
                'list-group-item-danger': appareilStatus === 'éteint'}">
  <h4 [ngStyle]="{color: getColor()}">Appareil : {{ appareilName }} -- Status : {{ getStatus() }}</h4>
  <a [routerLink]="[id]">Détails</a>
  <button class="btn btn-sm btn-success"
          [disabled]="appareilStatus === 'éteint'"
          (click)="onSwitch()">Allumer</button>
  <button class="btn btn-sm btn-danger"
          [disabled]="appareilStatus === 'allumé'"
          (click)="onSwitch()">Eteindre</button>
</li>


